################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Lab2_MS/Lab2_MS/x64
/Lab2_MS/x64
